{% extends 'base.html' %}


{% block title %}Home{% endblock %}


{% block content %}
<div class="section">
<img class="main-image" src="https://static.wixstatic.com/media/84770f_a499f4cb455b41b08e6c89929b1f3427~mv2_d_2707_2120_s_2.jpg/v1/fill/w_1292,h_1528,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/84770f_a499f4cb455b41b08e6c89929b1f3427~mv2_d_2707_2120_s_2.jpg">
</div>

<div class="section-second">
    <img class="second-image" src="https://previews.123rf.com/images/nikayekimenko/nikayekimenko2006/nikayekimenko200600107/149920999-sketch-vegetables-vector-set-in-vintage-style-hand-drawing-tomato-cucumber-cabbage-potato-beetroot-c.jpg">
    </div>

<div class="section" id="main-text">
<h1 class="home-text">School Garden Program</h1>
<div class="bottom-main-text">
<div id="learning-text">
<h4>Edible Learning Space</h4>
</div>
<a href="{% url 'learnmore' %}"><button class="button" id="more-button">Learn More</button></a>
</div>
</div>

{% endblock %}