{% extends 'base.html' %}


{% block title %}Learn More{% endblock %}


{% block content %}
<h2 class="learn-title">Getting Started:</h2>
<p class="learn-paragraph">To learn about what we do and some of our goals please visit our about page. If you are a school and would like to register your school for the School Garden Program, please fill out our contact form to request registration for an account. If you are wanting to become a volunteer or sponsor please also fill out our contact form to register for an account. All applicants must be verified before they can access an account. From there you can then schedule volunteer dates from your profile page. Please allow 3-5 business days for account verification.</p>

{% endblock %}